.container {
  display: grid;
}

@import url("https://use.typekit.net/qva7qoz.css");
.headings {
  font-family: "silver-streak-variable", sans-serif;
  font-variation-settings: "wght" 400, "wdth" 100;
}

.nav {
  display: flex; /* Changed from grid to flex for better control */
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.nav-item.logo {
  flex-grow: 1; /* Ensures it takes up space pushing others to center */
}

.nav-links {
  display: flex; /* Makes the three links align in a row */
  justify-content: center; /* Centers the links */
  flex-grow: 2; /* Allows it to take more space pushing the logo to the left */
}

.nav-item a {
  font-size: 3em;
  color: #d21272;
  text-decoration: none;
  margin: 0 20px; /* Gives space between the links */
}
