:root  {
    --red: #e63946;
    --beige: #F1FAEE;
    --light-blue: #A8DADC;
    --blue: #457B9D;
    --dark-blue: #1D3557;
    
}


html, body {
    font-size: 110%;
    margin: 0;
    padding: 0;
    font-family: "stevie-sans", sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    font-size: 1em;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    padding: 0 7vw;
}

.nav-link-container {
    margin: 0 1vw;
}

.nav-link-container span{
    color: var(--blue);

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-family: "new-science", sans-serif;
    

}



.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a:has(.primary-button), a:has(.secondary-button){
    text-decoration: none;
}

.primary-button {
    display: grid;
    place-items: center;
    padding: 7px 20px;
    background-color: var(--red);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease-in-out;
    width: fit-content;
    border-radius: 20px;
    border: 2px solid var(--red);
}

.primary-button:hover {
    cursor: pointer;
    box-shadow: none;
    
}

.secondary-button {
    display: grid;
    place-items: center;
    padding: 7px 20px;
    background-color: white;
    color: black;
    border: 2px solid var(--red);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease-in-out;
    width: fit-content;
    border-radius: 20px;
    
}

.secondary-button:hover {
    cursor: pointer;
    box-shadow: none;
}


.demoing-items{
    display: grid;
    place-items: center;
    height: 100vh;
}