:root  {
    --red: #e63946;
    --beige: #F1FAEE;
    --light-blue: #A8DADC;
    --blue: #457B9D;
    --dark-blue: #1D3557;
    
}


html, body {
    font-size: 1vw;
    margin: 0;
    padding: 0;
    font-family: "stevie-sans", sans-serif;
    transition: background-color 0.3s ease-in-out;
}



#trailer {
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 20px;
    border: 1.5px solid black;
    aspect-ratio: 1/1;
    border-radius: 100%;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
}

body:has(a:hover) #trailer, body:has(input[type="text"]:not(:focus):hover) #trailer, body:has(input[type="email"]:not(:focus):hover) #trailer, body:has(button:hover) #trailer, body:has(.slide-effect:hover) #trailer{
    width: 35px;
    border: 2px solid black;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    font-size: 1em;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    padding: 0 7vw;
}

.nav-link-container {
    margin: 0 1vw;
}

.nav-link-container span{
    color: var(--blue);

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-family: "new-science", sans-serif;
    

}



.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a:has(.primary-button), a:has(.secondary-button){
    text-decoration: none;
}

.primary-button {
    display: grid;
    place-items: center;
    padding: 7px 20px;
    background-color: var(--red);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease-in-out;
    width: fit-content;
    border-radius: 20px;
    border: 2px solid var(--red);
}

.primary-button:hover {
    cursor: pointer;
    box-shadow: none;
    
}

.secondary-button {
    display: grid;
    place-items: center;
    padding: 7px 20px;
    background-color: white;
    color: black;
    border: 2px solid var(--red);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease-in-out;
    width: fit-content;
    border-radius: 20px;
    
}

.secondary-button:hover {
    cursor: pointer;
    box-shadow: none;
}


h1 {
    font-size: 6vw;
    margin: 0;
    margin-left: 15vw;
}


.portfolio-card {
    width: 17vw;
    min-width: 17vw;
    aspect-ratio: 6/7;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.portfolio-card img {
    overflow: hidden;
}
.portfolio-card-gradient a {
    display: grid;
    place-items: center;
    height: 100%;
}

.portfolio-card h3 {
    margin: 0;
}


.portfolio-card-gradient {
    
    width: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    
}



.portfolio-image {
    overflow: hidden;
    width: 80%;
    transition: width 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;


}
    
.portfolio-image:hover {
    width: 90%;
}


.pricing-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5vh 0;
}

.pricing-card h3 {
    
    width: fit-content;
    margin: auto 0;
    font-weight: 550;
    font-size: 2vw;
    font-family: "new-science", sans-serif;
}

.pricing-card ul {
    padding: 1vw;
    margin: 0;
}

.pricing-card li {
    color: gray;
    font-size: 0.8vw;
}

/* Highligher effect: https://medium.com/front-end-weekly/highlighter-effect-with-css-e8131d260db9 */

footer {
    background: var(--dark-blue);
    padding: 1vw;
    color: white;
    text-align: center;
    max-height: 12vh;
}

.footer-container {
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.footer-link-container {
    margin: 0.2vw 0;
}

.footer-link-container a {
    padding: 0.1vw;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    z-index: 1;
}

.footer-link-container a::before {
    background: var(--red);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.footer-link-container a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.footer-link-container a:hover {
    color: var(--light-blue);
}

.footer-note {
    margin-top: 1vh;
}
